<!DOCTYPE html>
<html>
<!--favicon-->
<link rel="shortcut icon" type="image/x-icon" href="https://secure.gravatar.com/blavatar/37adf3319cbf9f89d4f86d4e5a0745be?s=32" sizes="16x16">
<title>FRA221_Grading - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename="w3.css")}}">
{% if g.user.Profile['Role'] == 'student' %}
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-orange.css">
{% else %}
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-pink.css">
{% endif %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="file:///C|/Users/fibo/Desktop/w3.css">
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  .w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
  .w3-navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    body,td,th {
	     font-family: Verdana, Geneva, sans-serif;
	      font-size: 18px;
      }
</style>
<body>

<!--black ribbon for HM King RAMA IX-->
<div class="w3-large w3-right-align w3-nevbar w3-display-topright w3-container">
  <img src="http://image.coolz-server.com/s/v6pge483">
</div>
<!--Navbar-->
<div class="w3-top">
  <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
    <!--li == show list item -->
    <li class="w3-opennav w3-right w3-hide-large">
      <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </li>
    <li><a href="{{url_for('.Home',url_user_id=g.id)}}"class="w3-theme-l1">Home</a></li>
    <li class="w3-hide-small"><a href="{{url_for('.CurrentSubject',url_user_id=g.id)}}" class="w3-hover-white">Subject</a></li>
    <li class="w3-hide-small"><a href="{{url_for('.CurrentWork',url_user_id=g.id)}}" class="w3-hover-white">Assignment</a></li>
    {% if g.user.Profile['Role']== 'student' %}
    <li class="w3-hide-small"><a href="{{url_for('.CurrentScore',url_user_id=g.id)}}" class="w3-hover-white">Score1</a></li>
    {% endif %}
    <li class="w3-hide-small"><a href="{{url_for('login.login')}}" class="w3-hover-white w3-right-align">Logout</a></li>
  </ul>
</div>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" align="Center">My profile</h1>
        <div class="w3-row w3-container">
          <div class="w3-col l6 w3-white w3-left">
            {% for x in g.show_list %}
              <h3 style="display: inline"><b>{{x}}</b></h3>
              <span class="w3-text-cyan"> : {{g.user.Profile[x]}}</span><br><br>
            {% endfor %}
          </div>
          <div class="w3-col l6 w3-center">
            <img src = "{{g.user.Picture}}" style="width:50%; height:30%;"/>
          </div>
        </div>
    </div>
  </div>
  <!-- Pagination -->
    <!--div class="w3-container w3-theme-l1">
      <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div-->
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
