<!DOCTYPE html>
<html>
<title>Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename="w3.css")}}">
{% if g.user.Profile['Role'] == 'student' %}
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-orange.css">
{% else %}
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-pink.css">
{% endif %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="file:///C|/Users/fibo/Desktop/w3.css">
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  .w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
  .w3-navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    body,td,th {
	     font-family: Verdana, Geneva, sans-serif;
	      font-size: 18px;
      }
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>

<!--Navbar-->
<div class="w3-top">
  <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
    <!--li == show list item -->
    <li class="w3-opennav w3-right w3-hide-large">
      <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </li>
        <li><a href="{{url_for('homepage.Home',url_user_id=g.id)}}"class="w3-theme-l1">Home</a></li>
    <li class="w3-hide-small"><a href="{{url_for('homepage.CurrentSubject',url_user_id=g.id)}}" class="w3-hover-white">Subject</a></li>
    <li class="w3-hide-small"><a href="{{url_for('homepage.CurrentWork',url_user_id=g.id)}}" class="w3-hover-white">Assignment</a></li>
    {% if g.user.Profile['Role']== 'student' %}
 <li class="w3-hide-small"><a href="{{url_for('homepage.CurrentScore',url_user_id=g.id)}}" class="w3-hover-white">Score</a></li>
     {% endif %}  <li class="w3-hide-small"><a href="{{url_for('login.login')}}" class="w3-hover-white w3-right-align">Logout</a></li>
  </ul>
</div>

<!-- Sidenav -->
<nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4><b>Menu</b></h4>
  <a href="http://google.co.th/" class="w3-hover-black">google</a>
  <a href="http://facebook.com/" class="w3-hover-black">facebook</a>
  <a href="http://www2.kmutt.ac.th/" class="w3-hover-black">kmutt</a>
  <a href="file:///C:/Users/fibo/Documents/GitHub/FRA241_Grading/app/web2/html/login_from_w3.html" class="w3-hover-black">Log out</a>
</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Score</h1>
        <div class="w3-row w3-container">
          <div class="w3-col l6 w3-white w3-left">
            <table>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Score</th>
              </tr>
                <form id="myForm">
                {% if g.user.Profile['Role'] == 'teacher' %}
                {% for i in g.a %}
                <tr>
                  <td>{{g.student2[i]}}</td>
                  <td>{{g.student1[i]}}</td>
                    <td><input id="{{g.student2[i]}}" class="w3-input" type="text" placeholder="{{g.single_score[i]}}" style="width:90%" required></td>
                </tr>
                {% endfor %}
                  {% else %}
                <tr>
                    <td>{{g.user.id}}</td>
                    <td>{{g.user.Profile['name']}}</td>
                  <td>{{g.score}}</td>
                 </tr>
                  {% endif %}

            </table>
            <p>
            <button class="w3-btn w3-green" onclick="return Score_full()">submit</button>
             <input type="button" class="w3-btn w3-green" onclick="myFunction()" value="Clear">
            </p>
            </form>

          </div>
        </div>
    </div>
    <div class="w3-third w3-container">
    </div>
  </div>



  <!--footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <!--div class="w3-container w3-theme-l1">
      <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div-->
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}
function myFunction() {
    document.getElementById("myForm").reset();
}
var student_list = {{g.student2}};
function Score_full() {
    for (int i=0; i<student_list.length ;i++){
      $.ajax({url: "{{url_for('login.insert_mark')}}",
      async: false,
      data: {
         id: student_list[i],
         score: $('input[id=student_list[i]]').val(),
         subject_id: {{g.Subject_id}},
         year: {{g.Year}},
         work_id: {{g.work_id}}
            },
      dataType: 'json',
      success: function(data){
        authentication=data.authen;
        }
      });
    }
}


</script>

</body>
</html>
